#filter-search-container {
  margin: 1rem 0;
  text-align: center;
}

#filter-buttons {
  margin-top: 0.5rem;
}

#filter-buttons button {
  background: #f4e2d8;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s;
}

#filter-buttons button:hover {
  background: #e2cfc0;
}

#search-input {
  padding: 0.5rem;
  width: 70%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
